APP_NAME=marketing_backend
SERVER_PORT=8080
HOST_URL=jdbc:mysql://localhost:3307/marketing_backend?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
HOST_NAME=marketing
HOST_PASSWORD=marketing
JWT_SECRET_KEY=marketing_backend_secret_key_Yeutech_2026_secret_key
JWT_EXPIRATION_TIME=86400000
JWT_REFRESH_EXPIRATION_TIME=604800000
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=trannhutphattv@gmail.com
MAIL_APP_PASSWORD=qttv eaji bpth wpjv
FACEBOOK_APP_ID=2001242197940168
FACEBOOK_APP_SECRET=7ded14b0c5db9c11ef5c3acee6e815ef
FACEBOOK_TOKEN_ENCRYPTION=R2JC/YksG3sHf9Lq6y9hl0ETwOZHxlhl8HbVUWPQmTw=